<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
<div th:replace="~{/fragments/menu :: menu}"></div>

<div>
    <h2>About page</h2>

    <h3>Random Message</h3>
    <th:block th:with="number = ${T(com.example.demofragment.utils.Utils).randomNumber()}">
        <p th:text="${number}"></p>
        <div th:replace="~{/fragments/menu :: random-message(${number})}"></div>
    </th:block>


    <h3>Fragment Example</h3>
    <div th:replace="~{/fragments/menu :: message(~{/fragments/menu :: #text})}"></div>
    <div th:replace="~{/fragments/menu :: message(~{/fragments/menu :: #text-1})}"></div>
    <div th:replace="~{/fragments/menu :: message(~{/fragments/menu :: #text-2})}"></div>
</div>
</body>
</html>