* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.card {
    width: 350px;
    border: 1px solid #000;
    overflow: hidden;
}

.content {
    padding: 20px;
}
